* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url(https://media3.giphy.com/media/cMhglZMLwT8e1jYkfC/200w.gif?cid=6c09b952sbxdcryuge9n48d6nocd7oqohz8sf6geul7byqu3&ep=v1_gifs_search&rid=200w.gif&ct=g);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.container {
    display: flex;
    height: 100%;
    backdrop-filter: blur(40px)
}

.left-side {
    width: 50%;
    padding: 1.35rem;
    box-sizing: border-box;
    color: white;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.right-side .top,
.right-side .middle
 {
    font-size: 1.30vw;
    padding: 20px;
    box-sizing: border-box;
}

.right-side .top {
    height: 30%;
}
.right-side .middle {
    height: 70%;
}

.right-side .top {
    background-color: #4B1278;
    color: white;
    
}

.right-side .middle {
    background-color: #7124ac;
    color: white;
}



.left-side h1, .left-side h2 {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.left-side h2 {
    margin-top: 1.35rem;
    
}
label {
    display:block;
    margin-top: 0.675rem;
}

input[type="text"] {
    width: 100%;
    height: 4rem;
    font-size: 1.25rem;
    border-radius: 1.688rem;
    padding: 0.675rem;
}
select {
    width: 100%;
    height: 4rem;
    font-size: 1.25rem;
    border-radius: 1.688rem;
    padding: 0.338rem;

}

textarea {
    width: 100%;
    height: 6.75rem;
    border-radius: 1.688rem;
    padding: 0.675rem;

}

#ModAddition {
    width: 47vw;
    height: 10rem;
    font-size: 1rem;
    resize: both;
}

.left-side h1 {
    margin-bottom: 0.338rem;
    font-size: 2rem;
} 

.left-side h1:not(:first-of-type) {
    margin-top: 1.35rem;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}



button {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5vw;
    border-radius: 0.5vw;
    color: rgb(255, 197, 238);
    font-weight: bolder;
    background-color: #a531b4;
    border-color: #791568;
    margin-top: 1vw;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    font-size: 1vw; 
    
}

button:hover {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: #b4317d;
    border-color: #79153b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    
}





